<!--<?php
require_once template('head');
echo <<<EOT
-->
<!--栏目 -->
<div class="column">
    <h2>洪海龙腾为您提供最优质的电商代运营方案和全方位的网店托管服务</h2>
</div>
<!--栏目 -->

<!--服务 -->
<div class="home-service">
	<div class="wrap">

        <!--切换 -->
        <div class="hd">
        	<ul>
            	<li>网店代运营</li>
                <li>营销推广</li>
                <li>京东代运营</li>
                <li>增值服务</li>
            </ul>
        </div>
        <!--切换 -->
        
        <!--内容 -->
        <div class="bd">
        	
            <!--网店代运营 -->
            <ul>
            	<li>
                	<span class="title">
                    	一站式电商代运营服务
                    </span>
                    <div class="list">
                    	<dl class="three">
                        	<dt>
                            	<span class="text">
                                    <h3>淘宝代运营</h3>
                                    <p>淘宝店铺托管服务</p>
                                    <em>淘宝代运营金牌淘拍档</em>
                                </span>
                            </dt>
                            <dt>
                            	<span class="text">
                                    <h3>天猫代运营</h3>
                                    <p>天猫网店托管服务</p>
                                    <em>天猫官方合作机构</em>
                                </span>
                            </dt>
                            <dt>
                            	<span class="text">
                                    <h3>京东代运营</h3>
                                    <p>京东代入驻、代运营服务</p>
                                    <em>京东认证服务商</em>
                                </span>
                            </dt>
                        </dl>
                    </div>
                </li>
            </ul>
            <!--网店代运营 -->
            
            <!--营销推广 -->
            <ul>
            	<li>
                	<span class="title">
                    	全域营销，精准引流
                    </span>
                    <div class="list">
                    	<dl class="fore">
                        	<dt>
                            	<span class="text">
                                    <h3>直通车托管</h3>
                                    <p>直通车推广，直通车优化</p>
                                    <em>多次蝉联直通车金牌淘拍档</em>
                                </span>
                            </dt>
                            <dt>
                            	<span class="text">
                                    <h3>钻展推广</h3>
                                    <p>淘宝钻展推广，天猫钻展推广</p>
                                    <em>实现钻展精准投放</em>
                                </span>
                            </dt>
                            <dt>
                            	<span class="text">
                                    <h3>智投管家</h3>
                                    <p>直通车智能优化软件</p>
                                    <em>数字化精准营销</em>
                                </span>
                            </dt>
                            <dt>
                            	<span class="text">
                                    <h3>视频内容营销</h3>
                                    <p>短视频制作内容定制</p>
                                    <em>内容视觉盛宴</em>
                                </span>
                            </dt>
                        </dl>
                    </div>
                </li>
            </ul>
            <!--营销推广 -->

            <!--京东代运营 -->
            <ul>
            	<li>
                	<span class="title">
                    	京东代入驻、代运营一站式服务
                    </span>
                    <div class="list">
                    	<dl class="three">
                        	<dt>
                            	<span class="text">
                                    <h3>京东店长实战特训营</h3>
                                    <p>京东商家学习中心认证培训机构</p>
                                    <em>京东系统实操培训</em>
                                </span>
                            </dt>
                            <dt>
                            	<span class="text">
                                    <h3>京东代入驻</h3>
                                    <p>代入驻服务商</p>
                                    <em>免费代入驻</em>
                                </span>
                            </dt>
                            <dt>
                            	<span class="text">
                                    <h3>京东快车</h3>
                                    <p>多快好省，开好快车</p>
                                    <em>VIP车身一对一服务</em>
                                </span>
                            </dt>
                        </dl>
                    </div>
                </li>
            </ul>
            <!--京东代运营 -->
            
            <!--增值服务 -->
            <ul>
            	<li>
                	<span class="title">
                    	全方位网店托管服务
                    </span>
                    <div class="list">
                    	<dl class="fore">
                        	<dt>
                            	<span class="text">
                                    <h3>客服托管</h3>
                                    <p>7*15小时在线</p>
                                    <em>客服托管，转化率优化</em>
                                </span>
                            </dt>
                            <dt>
                            	<span class="text">
                                    <h3>电商培训</h3>
                                    <p>淘宝、天猫、京东培训课程</p>
                                    <em>天猫官方合作机构</em>
                                </span>
                            </dt>
                            <dt>
                            	<span class="text">
                                    <h3>网店装修</h3>
                                    <p>PC+手机店铺装修设计</p>
                                    <em>懂运营的店铺装修</em>
                                </span>
                            </dt>
                            <dt>
                            	<span class="text">
                                    <h3>产品摄影</h3>
                                    <p>店铺产品拍摄、短视频制作</p>
                                    <em>量身定制的店铺拍摄</em>
                                </span>
                            </dt>
                        </dl>
                    </div>
                </li>
            </ul>
            <!--增值服务 -->
            
        </div>
        <!--内容 -->
        
    </div>
</div>
<!--服务 -->

<div class="clear"></div>

<!--栏目 -->
<div class="column">
    <h2>为什么选择我们？</h2>
    <p>策划+实施+推广+运营+管理, 一站式网店托管代运营服务</p>
</div>
<!--栏目 -->

<!--为什么选择我们 -->
<div class="home-why">
	<div class="wrap">
        
        <!--内容 -->
        <div class="list">
        	<li>
            	<h3>经验</h3>
                <em>七年运营经验</em>
                <span class="text">
                	<P>坚持七年专注于电商代运营服务</P>
                    <P>超过六万商家享受网店托管服务</P>
                    <P>拥有多个自主研发软件提供精准服务</P>
                </span>
            </li>
            
            <li>
            	<h3>实力</h3>
                <em>七年淘宝金牌服务商</em>
                <span class="text">
                	<P>阿里妈妈最佳营销拍档</P>
                    <P>淘宝|天猫|京东官方合作机构</P>
                    <P>首家挂牌的电商代运营服务公司</P>
                </span>
            </li>
            
            <li>
            	<h3>团队</h3>
                <em>强大的技术精英团队</em>
                <span class="text">
                	<P>总共超过700人的营销推广团队</P>
                    <P>拥有淘宝大学，京东商学院认证讲师</P>
                    <P>全国四大服务基地提供运营和技术支持</P>
                </span>
            </li>
            
            <li>
            	<h3>数据</h3>
                <em>大数据营销战略</em>
                <span class="text">
                	<P>七年代运营数据背书</P>
                    <P>网店托管数据跟踪，提供数字化精准推广</P>
                    <P>亿级词库，依靠大数据支持的代运营服务</P>
                </span>
            </li>
        </div>
        <!--内容 -->

    </div>
</div>
<!--为什么选择我们 -->

<!--历程 -->
<div class="home-course">
    <div class="wrap">
    	<ul>
        	<li>
            	<span class="date">
                	2011.7
                </span>
                <span class="line"></span>
                <span class="text">
                	在北京成立
                </span>
            </li>
            
            <li>
            	<span class="date">
                	2011.7
                </span>
                <span class="line"></span>
                <span class="text">
                	直通车模块建立
                </span>
            </li>
            
            <li>
            	<span class="date">
                	2011.7
                </span>
                <span class="line"></span>
                <span class="text">
                	济南分公司成立
                </span>
            </li>
            
            <li>
            	<span class="date">
                	2011.7
                </span>
                <span class="line"></span>
                <span class="text">
                	钻展模块建立
                </span>
            </li>
            
            <li>
            	<span class="date">
                	2011.7
                </span>
                <span class="line"></span>
                <span class="text">
                	软件研发模块建立
                </span>
            </li>
            
            <li>
            	<span class="date">
                	2011.7
                </span>
                <span class="line"></span>
                <span class="text">
                	青岛分公司成立
                </span>
            </li>
            
            <li>
            	<span class="date">
                	2011.7
                </span>
                <span class="line"></span>
                <span class="text">
                	登录新三板
                </span>
            </li>
            
            <li>
            	<span class="date">
                	2011.7
                </span>
                <span class="line"></span>
                <span class="text">
                	合肥分公司成立
                </span>
            </li>
            
            <li>
            	<span class="date">
                	2011.7
                </span>
                <span class="line"></span>
                <span class="text">
                	合肥高新区分公司成立
                </span>
            </li>
            
            <li>
            	<span class="date">
                	未来
                </span>
                <span class="line"></span>
                <span class="text">
                	时不我待
                </span>
            </li>
            
        </ul>
    </div>
</div>
<!--历程 -->

<!--栏目 -->
<div class="column">
    <h2>核心服务</h2>
</div>
<!--栏目 -->
 
<!--核心服务 -->
<div class="home-core">
	<div class="wrap">
        <ul>
        	<li>
            	<a href="#">
                	<img src="{$img_url}images/add/01.jpg" />
                </a>
            </li>
            <li>
            	<a href="#">
                	<img src="{$img_url}images/add/02.jpg" />
                </a>
            </li>
            <li>
            	<a href="#">
                	<img src="{$img_url}images/add/03.jpg" />
                </a>
            </li>
        </ul>
    </div>
</div>
<!--核心服务 -->

<!--栏目 -->
<div class="column">
    <h2>成功案例</h2>
</div>
<!--栏目 -->

 
<!--成功案例 -->
<div class="home-case">
	<div class="wrap">
    	<ul>
        <!--
EOT;
foreach(methtml_getarray(33,'','time','img','9','','','1','20','50') as $key=>$val){
echo <<<EOT
-->
        	<li>
            	<span class="pic">
                	<a href="{$val['url']}"><img src="{$val['imgurl']}" /></a>
                </span>
                <span class="text">
                	<h3><a href="{$val['url']}">{$val['title']}</a></h3>
                    <p>{$val['description']}</p>
                </span>
            </li>
           <!--
EOT;
}
echo <<<EOT
-->
        </ul>
    </div>
</div>
<!--成功案例 -->

<!--文章 -->
<div class="home-news">
	<div class="wrap">
    
    	<!--干货分享 -->
        <dl>
        	<dt>干货分享 <em>Training course</em></dt>
            <dd>
            <!--
EOT;
foreach(methtml_getarray(74,'','time','news','7','','','1','20','50') as $key=>$val){
echo <<<EOT
-->
            	<em><a href="{$val['url']}">{$val['title']}</a></em>
<!--
EOT;
}
echo <<<EOT
-->
            </dd>
        </dl>
        <!--干货分享 -->
        
        <!--企业动态 -->
        <dl>
        	<dt>企业动态 <em>Company news</em></dt>
            <dd>
            <!--
EOT;
foreach(methtml_getarray(4,'','time','news','7','','','1','20','50') as $key=>$val){
echo <<<EOT
-->
            	<em><a href="{$val['url']}">{$val['title']}</a></em>
<!--
EOT;
}
echo <<<EOT
-->
            </dd>
        </dl>
        <!--企业动态 -->
        
        <!--电商资讯 -->
        <dl>
        	<dt>电商资讯 <em>Operating skills</em></dt>
            <dd>
            <!--
EOT;
foreach(methtml_getarray(75,'','time','news','7','','','1','20','50') as $key=>$val){
echo <<<EOT
-->
            	<em><a href="{$val['url']}">{$val['title']}</a></em>
<!--
EOT;
}
echo <<<EOT
-->
            </dd>
        </dl>
        <!--电商资讯 -->
        
    </div>
</div>
<!--文章 -->

<!--合作伙伴 -->
<div class="home-partner">

	<!--栏目 -->
    <div class="column">
        <h2>合作伙伴</h2>
    </div>
    <!--栏目 -->

	<!--内容 -->
	<div class="list wrap">
    	<ul>
                <!--
EOT;
foreach(methtml_getarray(80,'','time','img','35','','','1','20','50') as $key=>$val){
echo <<<EOT
-->
        	<li><img src="{$val['imgurl']}" /></li>
        <!--
EOT;
}
echo <<<EOT
-->
        </ul>
    </div>
    <!--内容 -->
    
</div>
<!--合作伙伴 -->
<!--
EOT;
require_once template('foot');
?>