<!--<?php
require_once template('head'); 
echo <<<EOT
-->
<!--栏目 -->
<div class="column">
    <h2><b>"互联网+"时代 你的电商之路怎么走？</b></h2>
    <p>事实上，传统企业经历了对电商从“看不见”>“看不起”>“看不懂”>“学不会”>“挡不住”的过程。</p>
    <h3>你有这样的困扰吗？？</h3>
</div>
<!--栏目 -->

<!--困扰 -->
<div class="page-worry">
	<div class="wrap">
    	<ul>
        	<li>
            	<span class="pic">
                	<img src="{$img_url}images/worry-01.png" />
                </span>
                <span class="text">
                	<h3>难起步</h3>
                    <p>传统企业转电商，起步困难</p>
                </span>
            </li>
            
            <li>
            	<span class="pic">
                	<img src="{$img_url}images/worry-02.png" />
                </span>
                <span class="text">
                	<h3>无团队</h3>
                    <p>没有专业网店运营人才</p>
                    <p>人员流动大，团队难组</p>
                </span>
            </li>
            
            <li>
            	<span class="pic">
                	<img src="{$img_url}images/worry-03.png" />
                </span>
                <span class="text">
                	<h3>无流量</h3>
                    <p>如何引流？ 流量贵</p>
                    <p>有流量无转化</p>
                </span>
            </li>
            
            <li>
            	<span class="pic">
                	<img src="{$img_url}images/worry-04.png" />
                </span>
                <span class="text">
                	<h3>无线端</h3>
                    <p>无线端用户迅速增长</p>
                    <p>如何抢占无线市场</p>
                </span>
            </li>
            
        </ul>
    </div>
</div>
<!--困扰 -->

<div class="clear"></div>

<!--栏目 -->
<div class="column">
    <h2>洪海龙腾之京东八步 迅速提升店铺流量</h2>
</div>
<!--栏目 -->

<!--店铺流量 -->
<div class="page-flow">
	<div class="wrap">
    	<ul>
        	<li>
            	<span class="pic">
                	<img src="{$img_url}images/zuan01.png" />
                </span>
                <span class="text">
                	<h3>店铺前期策划</h3>
                    <p>产品选款，产品定价，店铺风格定位，品牌定位。</p>
                </span>
            </li>
            
            <li>
            	<span class="pic">
                	<img src="{$img_url}images/zuan02.png" />
                </span>
                <span class="text">
                	<h3>付费流量推广</h3>
                    <p>京东硬广，首页单品，京准通，EDM。</p>
                </span>
            </li>
            
            <li>
            	<span class="pic">
                	<img src="{$img_url}images/zuan03.png" />
                </span>
                <span class="text">
                	<h3>京东手机店铺</h3>
                    <p>手机店铺装修，产品选款，手机端活动提报与维护。</p>
                </span>
            </li>
            
            <li>
            	<span class="pic">
                	<img src="{$img_url}images/zuan04.png" />
                </span>
                <span class="text">
                	<h3>京东微店</h3>
                    <p>微店申请与开通，挑选产品，优化维护。</p>
                </span>
            </li>
            
            <li>
            	<span class="pic">
                	<img src="{$img_url}images/zuan05.png" />
                </span>
                <span class="text">
                	<h3>CRM管理</h3>
                    <p>会员分级，资料管理，短信营销。</p>
                </span>
            </li>
            
            <li>
            	<span class="pic">
                	<img src="{$img_url}images/zuan06.png" />
                </span>
                <span class="text">
                	<h3>数据分析</h3>
                    <p>全店经营报表提供，推广数据效果统计分析，销售数据统计分析。</p>
                </span>
            </li>
            
            <li>
            	<span class="pic">
                	<img src="{$img_url}images/zuan06.png" />
                </span>
                <span class="text">
                	<h3>商家后台</h3>
                    <p>商品管理，促销管理。</p>
                </span>
            </li>
            
            <li>
            	<span class="pic">
                	<img src="{$img_url}images/zuan06.png" />
                </span>
                <span class="text">
                	<h3>免费流量推广</h3>
                    <p>标题优化，资源提供，店铺活动。</p>
                </span>
            </li>
            
        </ul>
    </div>
</div>
<!--店铺流量 -->


<!--合作流程 -->
<div class="page-step">
	<div class="wrap">
    	
        <!--栏目 -->
        <div class="column">
            <h2>京东代运营合作流程</h2>
        </div>
        <!--栏目 -->
        
        <!--内容 -->
        <span class="pic">
        	<img src="{$img_url}images/step.png" />
        </span>
        <!--内容 -->
        
    </div>
</div>
<!--合作流程 -->

<!--栏目 -->
<div class="column">
	<h4>运营优势</h4>
    <h2><b>丰富的平台资源，资深实战技术团队，让您少走弯路</b></h2>
    <p>——从平台搭建到战略制定，一路为您保驾护航</p>
</div>
<!--栏目 -->

<!--运营优势 -->
<div class="page-advantage">
	<div class="wrap">
    	<ul>
        	<li>
            	<span class="pic">
                	<img src="{$img_url}images/advantage01.gif" />
                </span>
                <span class="text">
                	<h3>7年运营经验</h3>
                    <P>洪海多年专注服务电商企业，</P>
                    <P>积累了丰富的推广经验和营销策略，</P>
                    <P>从电商平台搭建到全网营销策略制定，</P>
                    <P>一路为您保驾护航。</P>
                </span>
            </li>
            
            <li>
            	<span class="pic">
                	<img src="{$img_url}images/advantage02.gif" />
                </span>
                <span class="text">
                	<h3>7次蝉联淘宝金牌服务商</h3>
                    <P>7次蝉联淘宝金牌服务商掌握核心运营技术、</P>
                    <P>直通车爆款打造、客户需求深度分析、</P>
                    <P>一站式运营策划服务、大数据分析能力。</P>
                </span>
            </li>
            
            <li>
            	<span class="pic">
                	<img src="{$img_url}images/advantage03.gif" />
                </span>
                <span class="text">
                	<h3>专业的运营团队</h3>
                    <P>洪海针对代运营服务特点，</P>
                    <P>将营销、运营、策划、推广、</P>
                    <P>活动报名、设计、编辑与维护人员整合，</P>
                    <P>提供专业精准的运营服务。</P>
                </span>
            </li>
            
            <li>
            	<span class="pic">
                	<img src="{$img_url}images/advantage04.gif" />
                </span>
                <span class="text">
                	<h3>成功案例见证</h3>
                    <P>累积服务6万余家店铺，</P>
                    <P>打造年销售额五千万以上的店铺超过10家，</P>
                    <P>其中亿健天猫店年销售突破1.8亿。</P>
                </span>
            </li>
        </ul>
    </div>
</div>
<!--运营优势 -->

<!--栏目 -->
<div class="column">
    <h2>成功案例</h2>
</div>
<!--栏目 -->
 
<!--成功案例 -->
<div class="home-case">
	<div class="wrap">
    	<ul>
        	        <!--
EOT;
foreach(methtml_getarray(83,'','time','img','9','','','1','20','50') as $key=>$val){
echo <<<EOT
-->
        	<li>
            	<span class="pic">
                	<a href="{$val['url']}"><img src="{$val['imgurl']}" /></a>
                </span>
                <span class="text">
                	<h3><a href="{$val['url']}">{$val['title']}</a></h3>
                    <p>{$val['description']}</p>
                </span>
            </li>
           <!--
EOT;
}
echo <<<EOT
-->
        </ul>
    </div>
</div>
<!--成功案例 -->

<!--
EOT;
require_once template('foot');
?>