<!--<?php
require_once template('head'); 
echo <<<EOT
-->
<!--联系我们 -->
<div class="page-contact-box">
	<div class="wrap">
    	
        <!--联系方式 -->
        <div class="way">
        	<h3>纽仕达</h3>
            <h4>业务咨询：<b>4008-799-897</b></h4>
            <ul>
            	<li class="lx01">地址：深圳市龙华新区民治大道展滔科技大厦C座4楼</li>
                <li class="lx02">电话：4008-799-897</li>
                <li class="lx03">传真：0755-23770670</li>
                <li class="lx04">邮箱：800136015@qq.com</li>
            </ul>
        </div>
        <!--联系方式 -->
        
        <!--联系地图 -->
        <div class="map pc">
        	<iframe width="504" height="425" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://j.map.baidu.com/s/_sPXLV"></iframe>
        </div>
        <!--联系地图 -->
        
        <!--联系地图 -->
        <div class="map wap">
        	<iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://j.map.baidu.com/s/_sPXLV"></iframe>
        </div>
        <!--联系地图 -->
        
    </div>
</div>
<!--联系我们 -->

<!--提交留言 -->
<form method='POST' name='myform' class="registerform" action='{$index_url}message/message.php?action=add&lang=cn' target='_self'>
<div class="page-message">
	<div class="wrap">
    	<ul>
            <li class="ly00">
                <input placeholder="行业(产品名称)" datatype="*" nullmsg="行业(产品名称)" errormsg="" name="para98"/>
            </li>
        	<li class="ly01">
            	<input placeholder="您的姓名" datatype="*" nullmsg="姓名不能为空" errormsg="" name="para88"/>
            </li>
            <li class="ly02">
            	<input placeholder="您的手机" datatype="m" nullmsg="电话不能为空" errormsg="请输入正确联系电话" name="para89"/>
            </li>
            <li class="ly03">
            	<input placeholder="您的职位" name="para99"/>
            </li>
            <li class="ly04" style="padding-bottom: 0px;">
                <div class="page-message-optimization">
                    <div class="wrap">
                        <h2 style="text-align: center; margin-bottom: 15px">
                            <b>请选择服务项目(多选)</b>
                        </h2>
                        <ul>
                            <li><label for="pdd"><input type="checkbox" id="pdd" name="brand[]" value="拼多多">拼多多</label></li>
                            <li><label for="tb"><input type="checkbox" id="tb" name="brand[]" value="淘宝">淘宝</label></li>
                            <li><label for="tm"><input type="checkbox" id="tm" name="brand[]" value="天猫">天猫</label></li>
                            <li><label for="jd"><input type="checkbox" id="jd" name="brand[]" value="京东">京东</label></li>
                        </ul>
                        <ul>
                            <li><label for="xqysj"><input type="checkbox" id="xqysj" name="design_entity[]" value="详情页设计">详情页设计</label></li>
                            <li><label for="dpzx"><input type="checkbox" id="dpzx" name="design_entity[]" value="店铺装修设计">店铺装修设计</label></li>
                            <li><label for="ztcsjt"><input type="checkbox" id="ztcsjt" name="design_entity[]" value="直通车图设计">直通车图设计</label></li>
                            <li><label for="hdhbsj"><input type="checkbox" id="hdhbsj" name="design_entity[]" value="活动海报设计">活动海报设计</label></li>
                            <li><label for="qzsj"><input type="checkbox" id="qzsj" name="design_entity[]" value="全店设计">全店设计</label></li>
                        </ul>
                    
                        <ul>
                            <li><label for="visj"><input type="checkbox" id="visj" name="design_page[]" value="VI设计">VI设计</label></li>
                            <li><label for="logosj"><input type="checkbox" id="logosj" name="design_page[]" value="LOGO设计">LOGO设计</label></li>
                            <li><label for="bzsj"><input type="checkbox" id="bzsj" name="design_page[]" value="包装设计">包装设计</label></li>
                            <li><label for="hbsj"><input type="checkbox" id="hbsj" name="design_page[]" value="H5海报设计">H5海报设计</label></li>
                            <li><label for="dysj"><input type="checkbox" id="dysj" name="design_page[]" value="DM单页设计">DM单页设计</label></li>
                            <li><label for="qtsj"><input type="checkbox" id="qtsj" name="design_page[]" value="其他设计">其他设计</label></li>
                        </ul>
    
                        <ul>
                            <li><label for="mbwz"><input type="checkbox" id="mbwz" name="website[]" value="模板网站套餐">模板网站套餐</label></li>
                            <li><label for="qypp"><input type="checkbox" id="qypp" name="website[]" value="企业品牌网站">企业品牌网站</label></li>
                            <li><label for="gwsc"><input type="checkbox" id="gwsc" name="website[]" value="购物商城网站">购物商城网站</label></li>
                            <li><label for="wmwz"><input type="checkbox" id="wmwz" name="website[]" value="外贸网站建设">外贸网站建设</label></li>
                            <li><label for="hymh"><input type="checkbox" id="hymh" name="website[]" value="行业门户网站">行业门户网站</label></li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="ly04">
            	<textarea placeholder="详细咨询" datatype="*" nullmsg="内容不能为空" errormsg="" name="para92"></textarea>
            </li>
            <li class="ly05">
            	<button name="dosubmit" type="submit">提交</button>
            </li>
        </ul>
    </div>
</div>
<input type='hidden' name='lang' value='cn' />
<input type='hidden' name='ip' value='{$m_user_ip}' />
<input type='hidden' name='totnum' value='7' />
<input type="hidden" name="fid_url" value="1">
</form>
<script type="text/javascript" src="{$img_url}js/Validform_v5.3.2.js"></script>
<script>
$(function(){
        $(".registerform").Validform({
            postonce:true,
			tipSweep:true,
            tiptype:function(msg,o,cssctl){
                if(o.type==3){
                    alert(msg);
                    o.obj.focus();
                }
            },
        

        });
    })

</script>
<!--提交留言 -->
<!--
EOT;
require_once template('foot');
?>