<!--<?php
require_once template('head'); 
echo <<<EOT
-->
<!--栏目 -->
<div class="column">
    <h2>淘宝钻展功能</h2>
</div>
<!--栏目 -->

<!--钻展功能 -->
<div class="page-flow">
	<div class="wrap">
    	<ul>
        	<li>
            	<span class="pic">
                	<img src="{$img_url}images/zuan01.png" />
                </span>
                <span class="text">
                	<h3>店铺前期策划</h3>
                    <p>产品选款，产品定价，店铺风格定位，品牌定位。</p>
                </span>
            </li>
            
            <li>
            	<span class="pic">
                	<img src="{$img_url}images/zuan02.png" />
                </span>
                <span class="text">
                	<h3>付费流量推广</h3>
                    <p>京东硬广，首页单品，京准通，EDM。</p>
                </span>
            </li>
            
            <li>
            	<span class="pic">
                	<img src="{$img_url}images/zuan03.png" />
                </span>
                <span class="text">
                	<h3>京东手机店铺</h3>
                    <p>手机店铺装修，产品选款，手机端活动提报与维护。</p>
                </span>
            </li>
            
            <li>
            	<span class="pic">
                	<img src="{$img_url}images/zuan04.png" />
                </span>
                <span class="text">
                	<h3>京东微店</h3>
                    <p>微店申请与开通，挑选产品，优化维护。</p>
                </span>
            </li>
            
            <li>
            	<span class="pic">
                	<img src="{$img_url}images/zuan05.png" />
                </span>
                <span class="text">
                	<h3>CRM管理</h3>
                    <p>会员分级，资料管理，短信营销。</p>
                </span>
            </li>
            
            <li>
            	<span class="pic">
                	<img src="{$img_url}images/zuan06.png" />
                </span>
                <span class="text">
                	<h3>数据分析</h3>
                    <p>全店经营报表提供，推广数据效果统计分析，销售数据统计分析。</p>
                </span>
            </li>

        </ul>
    </div>
</div>
<!--钻展功能 -->

<div class="clear"></div>

<!--栏目 -->
<div class="column">
    <h2>钻展基础知识与优化</h2>
</div>
<!--栏目 -->

<!--知识与优化 -->
<div class="page-optimization">
	<div class="wrap">
    	<ul>
        	<li>
            	<a href="#">淘宝钻石展位是什么？</a>
                <p>“钻石展位”是淘宝网图片类展示位自动竞价平台。按照展现流量竞价售卖的展示位，按展现计费，计费单位CPM（每千次浏览单价)。</p>
            </li>
            <li>
            	<a href="#">钻石展位的展示位主要在哪里？</a>
            </li>
            <li>
            	<a href="#">钻石展位是怎么收费的？</a>
            </li>
            <li>
            	<a href="#">钻石展位的展现逻辑是什么？</a>
            </li>
        </ul>
        
        <ul>
        	<li>
            	<a href="#">什么是钻石展位定向？</a>
                <p>系统根据买家的各种行为，给每个访客打上相应的标签，当你在设置广告计划时圈定相应标签的人群，广告会展现给你想要的人群。</p>
            </li>
            <li>
            	<a href="#">新手学习：钻展资源位选择方案？</a>
            </li>
            <li>
            	<a href="#">如何选择钻展资源位？</a>
            </li>
            <li>
            	<a href="#">如何制作好的钻展创意？</a>
            </li>
        </ul>
        
        <ul>
        	<li>
            	<a href="#">淘宝钻展定向原理介绍</a>
                <p>每个访问淘宝的访客，都会形成搜索、浏览、收藏、购买等各种行为，我们的系统会根据这些行为给这些访客打上各种标签。</p>
            </li>
            <li>
            	<a href="#">钻石展位定向类型介绍</a>
            </li>
            <li>
            	<a href="#">钻展定向和出价操作步骤</a>
            </li>
            <li>
            	<a href="#">什么是访客定向？</a>
            </li>
        </ul>
        
    </div>
</div>
<!--知识与优化 -->

<div class="clear"></div>

<!--提供的服务 -->
<div class="page-service">
	<div class="wrap">
    	
        <!--栏目 -->
        <div class="column">
            <h2>我们提供的服务</h2>
        </div>
        <!--栏目 -->

        <!--内容 -->
        <div class="content pc">
        	<img src="{$img_url}images/add/65.gif" />
        </div>
        <!--内容 -->
        
        <!--内容 -->
        <div class="content wap">
        	<ul>
            	<li>
                	<h3>展位筛选冲值</h3>
                    <span class="text">
                    	<p>投放策略</p>
                        <p>落地选择</p>
                    </span>
                </li>
                
                <li>
                	<h3>制作素材，提交审核</h3>
                    <span class="text">
                    	<p>谁来做</p>
                        <p>如何做</p>
                        <p>如何做好</p>
                        <p>如何通过审核</p>
                        <p>上传细节</p>
                    </span>
                </li>
                
                <li>
                	<h3>创建测试计划</h3>
                    <span class="text">
                    	<p>定向原理</p>
                        <p>出价技巧</p>
                        <p>注意事项</p>
                    </span>
                </li>
                
                <li>
                	<h3>查看报表，不断优化</h3>
                    <span class="text">
                    	<p>报表路径</p>
                        <p>优化思路</p>
                    </span>
                </li>
                
                <li>
                	<h3>正式投放</h3>
                    <span class="text">
                    	<p>经过前期的测试和调整，正式投放的效果得以保证</p>
                    </span>
                </li>
                
            </ul>
        </div>
        <!--内容 -->
        
    </div>
</div>
<!--提供的服务 -->

<div class="clear"></div>

<!--栏目 -->
<div class="column">
    <h2>钻展推广优秀案例</h2>
</div>
<!--栏目 -->
 
<!--成功案例 -->
<div class="home-case">
	<div class="wrap">
    	<ul>
<!--
EOT;
foreach(methtml_getarray(82,'','time','img','9','','','1','20','50') as $key=>$val){
echo <<<EOT
-->
        	<li>
            	<span class="pic">
                	<a href="{$val['url']}"><img src="{$val['imgurl']}" /></a>
                </span>
                <span class="text">
                	<h3><a href="{$val['url']}">{$val['title']}</a></h3>
                    <p>{$val['description']}</p>
                </span>
            </li>
           <!--
EOT;
}
echo <<<EOT
-->
        </ul>
    </div>
</div>
<!--成功案例 -->


<!--创意展示 -->
<div class="page-creative">
	
    <!--栏目 -->
    <div class="column">
        <h2>钻展创意展示</h2>
    </div>
    <!--栏目 -->

	<div class="wrap">
    	<ul>
        	<li>
            	<img src="{$img_url}images/add/66.jpg" />
            </li>
            <li>
            	<img src="{$img_url}images/add/67.jpg" />
            </li>
            <li>
            	<img src="{$img_url}images/add/68.jpg" />
            </li>
            <li>
            	<img src="{$img_url}images/add/69.jpg" />
            </li>
            <li>
            	<img src="{$img_url}images/add/70.jpg" />
            </li>
            <li>
            	<img src="{$img_url}images/add/71.jpg" />
            </li>
            <li>
            	<img src="{$img_url}images/add/72.jpg" />
            </li>
            <li>
            	<img src="{$img_url}images/add/73.jpg" />
            </li>
            <li>
            	<img src="{$img_url}images/add/74.jpg" />
            </li>
            <li>
            	<img src="{$img_url}images/add/75.jpg" />
            </li>
            <li>
            	<img src="{$img_url}images/add/76.jpg" />
            </li>
            <li>
            	<img src="{$img_url}images/add/77.jpg" />
            </li>
            <li>
            	<img src="{$img_url}images/add/78.jpg" />
            </li>
            <li>
            	<img src="{$img_url}images/add/79.jpg" />
            </li>
            <li>
            	<img src="{$img_url}images/add/80.jpg" />
            </li>
            <li>
            	<img src="{$img_url}images/add/81.jpg" />
            </li>
            <li>
            	<img src="{$img_url}images/add/82.jpg" />
            </li>
            <li>
            	<img src="{$img_url}images/add/83.jpg" />
            </li>
            <li>
            	<img src="{$img_url}images/add/84.jpg" />
            </li>
            <li>
            	<img src="{$img_url}images/add/85.jpg" />
            </li>
        </ul>
    </div>
</div>
<!--创意展示 -->


<!--推广优势 -->
<div class="page-spread">

	<!--栏目 -->
    <div class="column">
        <h2>钻展推广优势</h2>
    </div>
    <!--栏目 -->
    
    <!--钻展推广优势 -->
    <div class="content">
    	<ul class="wrap">
        	<li>
            	<span class="pic">
                	<img src="{$img_url}images/spread-01.gif" />
                </span>
                <span class="text">
                	<h3>我们更专业</h3>
                	<P>提供详细的店铺推广策略和创意文案</P>
                    <P>专业设计团队制作优秀推广素材</P>
                    <P>量身定制营销策划方案</P>
                    <P>进行精准的定向投放</P>
                </span>
            </li>
            
            <li>
            	<span class="pic">
                	<img src="{$img_url}images/spread-02.gif" />
                </span>
                <span class="text">
                	<h3>经验更丰富</h3>
                	<P>丰富的钻展投放经验</P>
                    <P>精心分析主推产品</P>
                    <P>让您的品牌、店铺在优质的</P>
                    <P>用户视线上进行推广</P>
                </span>
            </li>
            
            <li>
            	<span class="pic">
                	<img src="{$img_url}images/spread-03.gif" />
                </span>
                <span class="text">
                	<h3>投放更精准</h3>
                	<P>店铺达摩盘的开通</P>
                    <P>实现更加精准的定向投放</P>
                    <P>老客户和新客户的精准营销</P>
                    <P>完美配合店铺大促和聚划算等活动</P>
                </span>
            </li>
            
            <li>
            	<span class="pic">
                	<img src="{$img_url}images/spread-04.gif" />
                </span>
                <span class="text">
                	<h3>一对一服务</h3>
                	<P>提供一对一的专署服务</P>
                    <P>钻展工程师进行类目化匹配</P>
                    <P>实现对店铺、行业的全面了解</P>
                    <P>店铺数据更快提升</P>
                </span>
            </li>
        </ul>
    </div>
    <!--钻展推广优势 -->
 
</div>
<!--推广优势 -->
<!--
EOT;
require_once template('foot');
?>