<!--<?php
require_once template('head'); 
echo <<<EOT
-->
<!--栏目 -->
<div class="column">
    <h2>视觉设计服务</h2>
    <p>完全定制开发模式，让您的网店与众不同</p>
</div>
<!--栏目 -->

<!--设计服务 -->
<div class="page-design">
    
    <!--切换 -->
    <div class="hd">
        <ul class="wrap">
            <li>
                <span class="pic">
                    <img src="{$img_url}images/design-01.jpg" />
                </span>
                <span class="text">
                    首页设计
                </span>
            </li>
            
            <li>
                <span class="pic">
                    <img src="{$img_url}images/design-02.jpg" />
                </span>
                <span class="text">
                    详情页设计
                </span>
            </li>
            
            <li>
                <span class="pic">
                    <img src="{$img_url}images/design-03.jpg" />
                </span>
                <span class="text">
                    手机端设计
                </span>
            </li>
            
            <li>
                <span class="pic">
                    <img src="{$img_url}images/design-04.jpg" />
                </span>
                <span class="text">
                    海报设计
                </span>
            </li>
            
            <li>
                <span class="pic">
                    <img src="{$img_url}images/design-05.jpg" />
                </span>
                <span class="text">
                    直通车创意图
                </span>
            </li>
            
            <li>
                <span class="pic">
                    <img src="{$img_url}images/design-06.jpg" />
                </span>
                <span class="text">
                    钻展创意图
                </span>
            </li>
        </ul>
    </div>
    <!--切换 -->
    
    <!--内容 -->
    <div class="bd">
        
        <!--首页设计 -->
        <ul class="wrap">
            <li>
                <img src="{$img_url}images/add/50.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/51.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/52.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/53.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/54.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/55.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/56.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/57.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/58.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/59.jpg" />
            </li>
        </ul>
        <!--首页设计 -->
        
        <!--详情页设计 -->
        <ul class="wrap">
            <li>
                <img src="{$img_url}images/add/50.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/51.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/52.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/53.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/54.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/55.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/56.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/57.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/58.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/59.jpg" />
            </li>
        </ul>
        <!--详情页设计 -->
        
        <!--手机端设计 -->
        <ul class="wrap">
            <li>
                <img src="{$img_url}images/add/50.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/51.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/52.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/53.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/54.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/55.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/56.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/57.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/58.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/59.jpg" />
            </li>
        </ul>
        <!--手机端设计 -->
        
        <!--海报设计 -->
        <ul class="wrap">
            <li>
                <img src="{$img_url}images/add/50.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/51.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/52.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/53.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/54.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/55.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/56.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/57.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/58.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/59.jpg" />
            </li>
        </ul>
        <!--海报设计 -->
        
        <!--直通车创意图 -->
        <ul class="wrap">
            <li>
                <img src="{$img_url}images/add/50.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/51.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/52.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/53.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/54.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/55.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/56.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/57.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/58.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/59.jpg" />
            </li>
        </ul>
        <!--直通车创意图 -->
        
        <!--钻展创意图 -->
        <ul class="wrap">
            <li>
                <img src="{$img_url}images/add/50.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/51.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/52.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/53.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/54.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/55.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/56.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/57.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/58.jpg" />
            </li>
            <li>
                <img src="{$img_url}images/add/59.jpg" />
            </li>
        </ul>
        <!--钻展创意图 -->

    </div>
    <!--内容 -->
        
</div>
<!--设计服务 -->

<div class="clear"></div>

<!--栏目 -->
<div class="column">
    <h2>因为您的选择　让我们变得更好</h2>
    <p>您需要的不只是美工　而是懂运营的设计团队</p>
</div>
<!--栏目 -->

<!--变得更好 -->
<div class="page-better">
	<div class="wrap">
    	<ul>
        	<li>
            	<span class="pic">
                	<img src="{$img_url}images/better-01.png" />
                </span>
                <span class="text">
                	<h3>经验丰富</h3>
                    <p>4年网店设计经验，50名专业设计师。</p>
                </span>
            </li>
            
            <li>
            	<span class="pic">
                	<img src="{$img_url}images/better-02.png" />
                </span>
                <span class="text">
                	<h3>原创设计</h3>
                    <p>资深设计团队，原创设计。</p>
                </span>
            </li>
            
            <li>
            	<span class="pic">
                	<img src="{$img_url}images/better-03.png" />
                </span>
                <span class="text">
                	<h3>性价比高</h3>
                    <p>灵活应对设计需求，省时、省钱、省力。</p>
                </span>
            </li>
            
            <li>
            	<span class="pic">
                	<img src="{$img_url}images/better-04.png" />
                </span>
                <span class="text">
                	<h3>更懂电商</h3>
                    <p>更懂电商运营的视觉设计。</p>
                </span>
            </li>
        </ul>
    </div>
</div>
<!--变得更好 -->

<div class="clear"></div>

<!--项目流程 -->
<div class="page-process">
	
    <!--栏目 -->
    <div class="column">
        <h2>项目合作流程</h2>
        <p>我们不问您要怎么做，我们只问您的目标是什么</p>
    </div>
    <!--栏目 -->
    
    <!--内容 -->
    <div class="pic pc">
    	<img src="{$img_url}images/page-process.png" />
    </div>
    <!--内容 -->
    
    <!--内容 wap-->
    <div class="list wap">
    	<ul>
        	<li>
            	<em>1</em>
                <span class="text">
                	<h3>前期沟通</h3>
                    <p>前期和客服详细沟通，确定店铺装修详细细节</p>
                </span>
            </li>
            
            <li>
            	<em>2</em>
                <span class="text">
                	<h3>确定价格</h3>
                    <p>确定定制价格，发送相应资料</p>
                </span>
            </li>
            
            <li>
            	<em>3</em>
                <span class="text">
                	<h3>设计修改</h3>
                    <p>在设计期间完成设计，发送初稿，直至客户满意</p>
                </span>
            </li>
            
            <li>
            	<em>4</em>
                <span class="text">
                	<h3>确定定稿</h3>
                    <p>客户定稿，确认收货，设计师进行装店</p>
                </span>
            </li>
            
            <li>
            	<em>5</em>
                <span class="text">
                	<h3>售后服务</h3>
                    <p>交易成功后，后续如果有一些小问题，我们可以免费为您修改</p>
                </span>
            </li>
        </ul>
    </div>
    <!--内容 wap-->
    
</div>
<!--项目流程 -->
<!--
EOT;
require_once template('foot');
?>