<!--<?php
require_once template('head'); 
echo <<<EOT
-->
<!--栏目 -->
<div class="column">
    <h2>"互联网+"时代 <b>你的电商之路怎么走？</b></h2>
    <p>事实上，传统企业经历了对电商从“看不见”>“看不起”>“看不懂”>“学不会”>“挡不住”的过程。</p>
</div>
<!--栏目 -->

<!--电商之路 -->
<div class="page-road">
	<div class="wrap">
    	<span class="pic pc">
        	<img src="{$img_url}images/theroad.png" />
        </span>
        <span class="list wap">
        	<dl>
            	<dt>起步难</dt>
                <dd>传统企业转电商起步困难</dd>
            </dl>
            <dl>
            	<dt>无团队</dt>
                <dd>没有专业网店人才团队难组</dd>
            </dl>
            <dl>
            	<dt>无流量</dt>
                <dd>流量贵，引流难，有流量无转化</dd>
            </dl>
            <dl>
            	<dt>无效果</dt>
                <dd>店铺推广无转化，专业提升难</dd>
            </dl>
        </span>
        <span class="text">
        	<em>你有这样的困扰吗？？</em>
            <a href="#">立即寻求帮助 ></a>
        </span>
    </div>
</div>
<!--电商之路 -->

<div class="clear"></div>

<!--网店盈利 -->
<div class="page-profit">
	<div class="wrap">

        <!--栏目 -->
        <div class="column">
            <h2>专业的事交给专业的人做　快速实现网店盈利</h2>
            <p class="yellow">敬畏客户的每一分投入　为客户创造价值</p>
        </div>
        <!--栏目 -->
        
        <!--内容 -->
        <div class="list">
            <ul>
                <li><b>紧跟</b>淘宝排名新规则</li>
                <li>灵活<b>变换运营手段</b></li>
                <li>提<b>权重</b>　做<b>排名</b>　打<b>爆款</b></li>
                <li>提升<b>自然流量</b>是王道</li>
                <li>洞悉行业<b>类目动向</b></li>
                <li><b>不盲目</b>进行<b>付费推广</b></li>
                <li><b>站内站外</b>全面引流</li>
                <li>杜绝<b>运营方式</b>单一</li>
                <li>扎实店铺<b>基本功</b></li>
                <li><b>提升</b>产品<b>卖点</b></li>
                <li><b>提升</b>点击率和转化率</li>
                <li>创<b>类目销售</b>奇迹</li>
            </ul>
        </div>
        <!--内容 -->
        
    </div>
</div>
<!--网店盈利 -->

<div class="clear"></div>

<!--栏目 -->
<div class="column">
    <h2><b>洪海一站式店铺运营服务　迅速提升店铺业绩</b></h2>
    <p>专注于网店运营　专业于网络营销</p>
</div>
<!--栏目 -->

<!--店铺业绩 -->
<div class="page-achievement pc">
	<div class="wrap">

        <span class="pic">
        	<img src="{$img_url}images/achievement.png" />
        </span>
        
    </div>
</div>
<!--店铺业绩 -->

<!--店铺业绩 wap-->
<div class="page-achievement wap">
	<ul>
    	<li>
        	<h3>平台业绩</h3>
            <span class="text">
            	<p>代办天猫，京东商城入驻</p>
                <p>基于对入驻规则的了解，使申请店铺快速通过</p>
            </span>
        </li>
        
        <li>
        	<h3>战略策划</h3>
            <span class="text">
            	<p>5年淘宝、天猫、京东运营实战</p>
                <p>积累了丰富的平台运作经验和电商营销策略</p>
                <p>从电商平台的搭建到营销策略的指定，一路为您保驾护航</p>
            </span>
        </li>
        
        <li>
        	<h3>视觉设计</h3>
            <span class="text">
            	<p>一切设计以转化为目的</p>
                <p>打造店铺的专属风格和优质购物体验</p>
                <p>整店设计、专题页设计、首页/详情页设计、海报、推广图设计</p>
            </span>
        </li>
        
        <li>
        	<h3>运营推广</h3>
            <span class="text">
            	<p>整合PC、移动端资源、以引入目标流量为核心</p>
                <p>付费流量、免费流量、策划活动、全网辅助推广等方式</p>
                <p>打造爆款、提高ROI、全网产品营销、实现销量和品牌双面提升</p>
            </span>
        </li>
        
        <li>
        	<h3>客服服务</h3>
            <span class="text">
            	<p>万人云客服团队，淘宝授权金牌客服服务商</p>
                <p>售前客服、活动客服、售后客服、济南、青岛、宁夏联动</p>
                <p>全天 15 小时在线服务，高专业反应快，高标准的 KPI 绩效考核</p>
            </span>
        </li>
        
        <li>
        	<h3>数据分析</h3>
            <span class="text">
            	<p>数据分析是店铺运营的核心</p>
                <p>通过对各项数据的分析、优化、反馈</p>
                <p>制定营销策略，提升推广效果，提高店铺转化率</p>
            </span>
        </li>
    </ul>
</div>
<!--店铺业绩 wap-->

<!--合作模式 -->
<div class="page-model">
	
    <!--栏目 -->
    <div class="column">
        <h2><b>洪海电商创新运营合作模式</b></h2>
        <p>做靠谱服务商　用心做服务</p>
    </div>
    <!--栏目 -->
    
    <!--内容 -->
    <div class="pic pc">
    	<img src="{$img_url}images/page-model.png" />
    </div>
    <!--内容 -->
    
    <!--内容 -->
    <div class="list wap">
    	<ul>
        	<li>
            	<span class="text">
                	基础服务费 + 提成
                </span>
            </li>
            <li>
            	<span class="text">
                	纯提成模式
                </span>
            </li>
            <li>
            	<span class="text">
                	运营合伙人
                </span>
            </li>
        </ul>
    </div>
    <!--内容 -->
    
</div>
<!--合作模式 -->

<!--栏目 -->
<div class="column">
    <h2><b>为什么选择我们</b></h2>
    <p>优秀的团队　顶尖的技术　超具性价比的服务</p>
</div>
<!--栏目 -->

<!--为什么选择我们 -->
<div class="page-why">
	<div class="wrap">
    	
        <span class="pic pc">
        	<img src="{$img_url}images/page-way.png" />
        </span>
        
        <div class="list wap">
        	<ul>
            	<li>
                	<h3>5年店铺运营经验、成熟运营体系</h3>
                    <span class="text">
                    	洪海多年专注服务电商企业，积累了丰富的平台运作经验和电商营销策略，从平台搭建到战略定制，一路为您保驾护航
                    </span>
                </li>
                
                <li>
                	<h3>5次蝉联淘宝金牌服务商，行业认可</h3>
                    <span class="text">
                    	洪海多年专注服务电商企业，积累了丰富的平台运作经验和电商营销策略，从平台搭建到战略定制，一路为您保驾护航
                    </span>
                </li>
                
                <li>
                	<h3>淘宝认证服务商，平台10万保证金</h3>
                    <span class="text">
                    	洪海多年专注服务电商企业，积累了丰富的平台运作经验和电商营销策略，从平台搭建到战略定制，一路为您保驾护航
                    </span>
                </li>
                
                <li>
                	<h3>大客户服务能力，缔造电商奇迹</h3>
                    <span class="text">
                    	洪海多年专注服务电商企业，积累了丰富的平台运作经验和电商营销策略，从平台搭建到战略定制，一路为您保驾护航
                    </span>
                </li>
            </ul>
        </div>
        
    </div>
</div>
<!--为什么选择我们 -->

<!--肯定 -->
<div class="page-sure pc">
	
</div>
<!--肯定 -->

<!--肯定 -->
<div class="page-sure wap">
	
    <!--栏目 -->
    <div class="column">
        <h2>荣誉是对努力的一种肯定</h2>
        <p>金牌所向，实至名归</p>
    </div>
    <!--栏目 -->
    
    <!--内容 -->
    <div class="list">
    	<ul>
        	<li>
            	<span class="title">
                	2012 - 荣获金牌淘拍档
                </span>
                <span class="text">
                	<em>齐鲁电商商会技术及培训中心</em>
                    <em>淘宝直通车第三方合作伙伴认证证书</em>
                </span>
            </li>
            
            <li>
            	<span class="title">
                	2013 - 荣获金牌淘拍档
                </span>
                <span class="text">
                	<em>齐鲁电商商会技术及培训中心</em>
                    <em>淘宝直通车第三方合作伙伴认证证书</em>
                </span>
            </li>
            
            <li>
            	<span class="title">
                	2014 - 荣获金牌淘拍档
                </span>
                <span class="text">
                	<em>齐鲁电商商会技术及培训中心</em>
                    <em>淘宝直通车第三方合作伙伴认证证书</em>
                </span>
            </li>
            
            <li>
            	<span class="title">
                	2015 - 荣获金牌淘拍档
                </span>
                <span class="text">
                	<em>齐鲁电商商会技术及培训中心</em>
                    <em>淘宝直通车第三方合作伙伴认证证书</em>
                </span>
            </li>
            
            <li>
            	<span class="title">
                	2016 - 荣获金牌淘拍档
                </span>
                <span class="text">
                	<em>齐鲁电商商会技术及培训中心</em>
                    <em>淘宝直通车第三方合作伙伴认证证书</em>
                </span>
            </li>
        </ul>
    </div>
    <!--内容 -->
    
</div>
<!--肯定 -->

<!--栏目 -->
<div class="column">
    <h2>事实胜于雄辩　案例为我代言</h2>
    <p>洪海龙腾提供从入驻、策划、视觉、推广、运营、培训等电商全产业服务，提升店铺业绩。</p>
</div>
<!--栏目 -->
 
<!--成功案例 -->
<div class="home-case">
	<div class="wrap">
    	<ul>
        	        <!--
EOT;
foreach(methtml_getarray(81,'','time','img','9','','','1','20','50') as $key=>$val){
echo <<<EOT
-->
        	<li>
            	<span class="pic">
                	<a href="{$val['url']}"><img src="{$val['imgurl']}" /></a>
                </span>
                <span class="text">
                	<h3><a href="{$val['url']}">{$val['title']}</a></h3>
                    <p>{$val['description']}</p>
                </span>
            </li>
           <!--
EOT;
}
echo <<<EOT
-->
        </ul>
    </div>
</div>
<!--成功案例 -->
<!--
EOT;
require_once template('foot');
?>