@charset "utf-8";
/*wap*/
@media screen and (min-width:0px)  and  (max-width:1199px)  {
html{font-size:62.5%}
.pc{display:none;}
.wap{display:block;}
@media only screen and (min-width:321px) {html {font-size:62.5%!important}}
@media only screen and (min-width:361px) {html {font-size:70.31%!important}}
@media only screen and (min-width:376px) {html {font-size:73.24%!important}}
@media only screen and (min-width:481px) {html {font-size:94%!important}}
@media only screen and (min-width:561px) {html {font-size:109%!important}}
@media only screen and (min-width:641px) {html {font-size:125%!important}}




/* --- 头部 --- */
.header{ overflow:hidden;}

/* logo */
.header .logo{width:50%; padding:1.5rem;}

/* 合作 */
.header .cooperate{ overflow:hidden; background:#f5f5f5; border-top:1px solid #efefef; border-bottom:1px solid #efefef; padding-top:1rem; font-size:1.2rem;}
.header .cooperate li{float:left; width:25%; text-align:center;}
.header .cooperate li .text{margin-bottom:.1rem; color:#999;}

/* 咨询 */
.header .consult{ overflow:hidden; text-align:center; padding:1rem 1.5rem; color:#666;  color:#fff; background:url(../images/home-service-back.png) no-repeat  0 5% #FF6B11; }
.header .consult p{margin-bottom:.5rem; font-size:1.2rem;}
.header .consult h3{font-size:1.4rem; color:#fff;}

/* 导航 */
.wap-nav{}
.drawer-nav{z-index:200;}
.drawer-nav li{height:3.5rem; line-height:3.5rem; text-align:center; border-bottom:1px solid #efefef; font-size:1.4rem;}




/* --- 栏目 --- */
.column{text-align:center; padding:2rem 1.5rem;}
.column h2{font-size:1.6rem; line-height:180%;}
.column h2 b{color:#FF6B11;}
.column h3{font-size:24px; margin-top:20px;}
.column h4{font-size:24px; margin-bottom:20px;}
.column p{font-size:1.4rem; margin-top:.5rem; color:#666; line-height:180%;}
.column .text{margin-top:1.5rem;}
.column .text em{color:#F6F504; font-size:1.4rem; margin-left:.5rem; margin-right:.5rem; line-height:200%; display:inline-block;}




/* --- 服务 --- */
.home-service{ border-bottom:1rem solid #efefef;  overflow:hidden;}

/* 切换 */
.home-service .hd{text-align:center; overflow:hidden; margin-bottom:2.5rem;}
.home-service .hd li{background:#f5f5f5;  font-size:1.4rem; color:#666; border:1px solid #efefef; cursor:pointer; float:left; width:50%; text-align:center; height:4rem; line-height:4rem;}
.home-service .hd li.on{background:#FF6B11; color:#fff;  box-shadow:0px 5px 10px #ececec; border:1px solid #FB5F00;}

/* 内容 */
.home-service .bd li .title{text-align:center; font-size:1.6rem; margin-bottom:1rem;}
.home-service .bd li .list dl{ padding:1.5rem; padding-bottom:.5rem;}
.home-service .bd li .list dl dt{text-align:center; margin-bottom:1.5rem;}
.home-service .bd li .list dl dt .text{border-radius:5px; overflow:hidden;  padding-bottom:60px;  box-shadow:0px 5px 10px #ececec; position:relative; height:160px; background:url(../images/home-service-hover.jpg) no-repeat center top;  background-size:cover;}
.home-service .bd li .list dl dt .text h3{font-size:2.4rem; color:#fff; margin-top:2.5rem; margin-bottom:15px;text-shadow : #484986 0px 0px 5px; font-weight:bold; color:#F0FF00;}
.home-service .bd li .list dl dt .text p{color:#fff; margin-bottom:1.5rem; font-size:1.4rem;}
.home-service .bd li .list dl dt .text em{ font-size:1.4rem; margin-top:1.5rem; color:#fff;}




/* --- 为什么选择我们 --- */
.home-why{overflow:hidden; border-bottom:1rem solid #efefef;}
.home-why li{ text-align:center; border-top:1px solid #efefef; padding-bottom:1.5rem;  padding-top:1.5rem;}
.home-why li h3{font-size:2.4rem; color:#2277D2; margin-bottom:.5rem; font-weight:bold;}
.home-why li em{display:block;  color:#2277D2; font-size:1.4rem; margin-bottom:1rem;}
.home-why li .text p{line-height:220%; color:#666; font-size:1.4rem;}




/* --- 历程 --- */
.home-course{ overflow:hidden; border-bottom:1px solid #efefef; padding:1.5rem; position:relative;}
.home-course ul{position:relative;}
.home-course ul:before{content:""; width:1px; height:100%; position:absolute; left:40%; background:#efefef; top:0;} 
.home-course li{overflow:hidden; position:relative;}
.home-course li .date{font-size:1.4rem; color:#FF6B11; width:40%; text-align:right; padding-right:1.5rem; line-height:200%; float:left;}
.home-course li .line{ display:none;}
.home-course li .text{float:right; width:60%; text-align:left; font-size:1.4rem; padding-left:1.5rem; line-height:200%; }
.home-course li:before{content:""; width:.4rem; height:.4rem; background:#ccc; border-radius:100%; left:39.5%; position:absolute; top:1.2rem;}




/* --- 核心服务 --- */
.home-core{overflow:hidden; border-bottom:1px solid #efefef; padding:0 1.5rem; border-bottom:1rem solid #efefef; }
.home-core .wrap{overflow:hidden;}
.home-core li{ margin-bottom:1.5rem;}




/* --- 成功案例 --- */
.home-case{overflow:hidden; padding:0 1.5rem;  border-bottom:1rem solid #efefef; }
.home-case li{ margin-bottom:1.5rem; text-align:center;}
.home-case li .pic{ overflow:hidden; margin-bottom:1.5rem;}
.home-case li .text h3{margin-bottom:1rem; font-weight:bold; font-size:1.4rem;}
.home-case li .text p{line-height:160%; color:#999; font-size:1.2rem;}




/* --- 文章 --- */
.home-news {border-bottom:1rem solid #efefef; overflow:hidden; }
.home-news dl{border-bottom:1px solid #efefef;}
.home-news dl dt{border-bottom:1px solid #efefef; font-size:1.4rem;  margin-bottom:1rem; font-weight:bold; background:#f5f5f5; padding:1rem 1.5rem;}
.home-news dl dt em{color:#999; margin-left:1rem; font-size:1.2rem;}
.home-news dl dd{padding-bottom:1.5rem; margin-left:1.5rem;}
.home-news dl dd em{display:block; line-height:200%; position:relative; padding-left:1rem;}
.home-news dl dd em:before{content:""; width:.4rem; height:.4rem; background:#ccc; border-radius:100%; left:0; top:1rem; position:absolute;}
.home-news dl dd em{font-size:1.4rem;}




/* --- 伙伴 --- */
.home-partner{background:#f3f3f3; overflow:hidden; text-align:center;}
.home-partner li{float:left; width:33.333%; margin-bottom:1rem;}




/* --- 联系我们 --- */
.page-contact{background:#2277D2; overflow:hidden;}
.page-contact .column h2{color:#fff;}

/* 方式 */
.page-contact .address{ border-top:1px solid #1C60AA; border-bottom:1px solid #1C60AA; padding:1.5rem;}
.page-contact .address li{ color:#fff; margin-bottom:1.5rem; font-size:1.2rem;}
.page-contact .address li h3{font-size:1.4rem; margin-bottom:1rem; color:#fff; color:#F6F504; text-align:center;}

/* 电话 */
.page-contact .tel{ border-bottom:1px solid #1C60AA; padding:1.5rem;}
.page-contact .tel h3{font-size:1.8rem; color:#F6F504; margin-bottom:1rem; text-align:center;}
.page-contact .tel p{line-height:160%; color:#F6F504; font-size:1.8rem; color:#fff; text-align:center;}
	
	
/* 版权 */
.page-contact .copyright{text-align:center; color:#fff; background:#1C60AA; font-size:1.4rem; padding:1rem;}
	
	
/* 友情链接 */
.page-contact .friends{padding:1.5rem;}
.page-contact .friends h3{color:#fff; margin-bottom:1.5rem;} 
.page-contact .friends .text{}
.page-contact .friends .text a{display:inline-block; margin-right:1rem; color:#fff; line-height:180%; font-size:1.2rem;}





/* --- 设计服务 --- */
.page-design{border-bottom:1rem solid #efefef;}

/* 切换 */
.page-design .hd {overflow:hidden; }
.page-design .hd li{float:left; width:33.333%; text-align:center; height:3.5rem; line-height:3.5rem; background:#f5f5f5; font-size:1.4rem; border-bottom:1px solid #efefef; cursor:pointer;}
.page-design .hd li .pic{ display:none;} 
.page-design .hd li .text {font-size:1.4rem; height:3.5rem; line-height:3.5rem; }	
.page-design .hd li.on{position:relative; background:#f60; color:#fff; }

/* 内容 */
.page-design .bd{ padding:.75rem;}
.page-design .bd ul{overflow:hidden;}
.page-design .bd li{float:left; width:50%; text-align:center; padding:.75rem; cursor:pointer; }
.page-design .bd li img{background:#fff; padding:.3rem; border:1px solid #efefef;}




/* --- 变得更好 --- */
.page-better{overflow:hidden; border-bottom:1rem solid #efefef; padding-bottom:1.5rem;}
.page-better li{float:left; width:50%; text-align:center; padding:.75rem;}
.page-better li .pic{ border-radius:100%; margin-bottom:1rem;}  
.page-better li .pic img{border-radius:100%;}
.page-better li .text h3{font-size:1.6rem; margin-bottom:.5rem;}
.page-better li .text p{color:#999; font-size:1.4rem; line-height:150%;}




/* --- 项目流程 --- */
.page-process{ padding-bottom:1.5rem;}
.page-process .list{ padding:0 1.5rem;}
.page-process .list li{overflow:hidden; margin-bottom:1.5rem;margin-bottom:1.5rem;}
.page-process .list li em{float:left; display:block; font-size:2.4rem; margin-right:1.5rem; background:#f60; border-radius:100%; width:3rem; height:3rem; text-align:center; line-height:3rem; color:#fff;}	
.page-process .list li .text{float:left; width:80%;  border-bottom:1px solid #efefef; padding-bottom:1.5rem; }
.page-process .list li .text h3{font-size:1.6rem; margin-bottom:.3rem;}
.page-process .list li .text p{font-size:1.4rem; color:#999; line-height:180%;}
	
	
	
	
/* --- 困扰 --- */
.page-worry{overflow:hidden; border-bottom:1rem solid #efefef; padding-bottom:1.5rem;}
.page-worry li{float:left; width:50%; text-align:center; transition:all .3s;}
.page-worry li .pic{width:10rem; height:10rem; margin:0 auto; border-radius:100%; background:#fff; line-height:10rem; margin-top:1.5rem; margin-bottom:1.5rem; border:1px solid #ccc;}
.page-worry li .text{max-width:90%; margin:0 auto;}
.page-worry li .text h3{font-size:2.4rem; color:#FF6501; font-weight:bold; margin-bottom:1rem;}
.page-worry li .text p{font-size:1.4rem; line-height:180%; color:#666;}





/* --- 店铺流量 --- */
.page-flow {overflow:hidden; padding:0 1.5rem; border-bottom:1rem solid #efefef; }
.page-flow li{ margin-bottom:1.5rem; padding-bottom:1.5rem; border-bottom:1px solid #efefef; overflow:hidden;}
.page-flow li .pic{float:left;width:5rem; overflow:hidden;}
.page-flow li .pic img{}
.page-flow li .text{float:left; width:70%; margin-left:1.5rem;}
.page-flow li .text h3{font-size:1.6rem; margin-top:.5rem;}
.page-flow li .text p{width:90%; color:#666; line-height:180%; margin-top:5px;}




/* --- 运营优势 --- */
.page-advantage{ overflow:hidden;  overflow:hidden; border-bottom:1rem solid #efefef; }
.page-advantage li{text-align:center; margin-bottom:1.5rem; border-bottom:1px solid #efefef; padding-bottom:1.5rem;}
.page-advantage li .text h3{font-size:2.4rem; margin-top:1.5rem; margin-bottom:1.5rem;}
.page-advantage li .text p{line-height:200%; color:#666; font-size:1.4rem;}
.page-advantage li:last-child{border-bottom:none; margin-bottom:0;}




/* --- 电商之路 --- */
.page-road{text-align:center;  border-bottom:1px solid #efefef; }

.page-road .list{overflow:hidden;}
.page-road .list dl{float:left; width:50%; border-top:1px solid #efefef; overflow:hidden; padding-top:2.5rem; border-right:1px solid #efefef; padding-bottom:1.5rem;}
.page-road .list dl dt{font-size:2.4rem; color:#f60; margin-bottom:1.5rem;}
.page-road .list dl dd{font-size:1.4rem; color:#666; line-height:180%; max-width:80%; margin:0 auto;}

.page-road .text{height:4rem; line-height:4rem; font-size:1.4rem;  overflow:hidden; border-top:1px solid #efefef; }
.page-road .text em{width:60%; text-align:center; display:block; float:left; background:#f5f5f5; border-right:none;  }
.page-road .text a{background:#FF6B11; color:#fff; width:40%; text-align:center; float:left; border:1px solid #FB5F00; border-left:none;  transition:all .3s;}
.page-road .text a:hover{background:#FB5F00;}



/* --- 网店盈利 --- */
.page-profit{background:url(../images/page-profit.jpg) no-repeat;   background-size:cover; overflow:hidden;}
	
/* 栏目 */
.page-profit .column h2{color:#fff;}
.page-profit .column p{ color:#FFCC00;}
	
/* 内容 */
.page-profit .list{padding:0 1.5rem; margin-bottom:1.5rem;}
.page-profit .list li{ height:4rem; border:1px solid #CC6633; text-align:center; line-height:4rem; font-size:1.6rem; color:#fff; margin-bottom:-1px; transition:all .3s;}
.page-profit .list li b{ color:#FFCC00;}




/* --- 店铺业绩 --- */
.page-achievement{ border-bottom:1rem solid #efefef; overflow:hidden; padding:0 1.5rem;}
.page-achievement li{margin-bottom:1.5rem; border-bottom:1px solid #efefef; padding-bottom:1.5rem;}
.page-achievement li h3{font-size:1.8rem; margin-bottom:1rem; background:#f60; text-align:center; color:#fff; padding:.5rem;}
.page-achievement li .text p{line-height:200%; font-size:1.4rem; position:relative; padding-left:1.2rem; color:#666;}
.page-achievement li .text p:before{content:""; width:.3rem; height:.3rem; background:#ccc; border-radius:100%; position:absolute; top:1rem; left:0}




/* --- 店铺模式 --- */
.page-model{background:url(../images/model-back.png) repeat-x; overflow:hidden; text-align:center; padding:.75rem; padding-bottom:1.5rem; padding-top:0;}
.page-model .list li{float:left; width:33.333%; padding:0 .75rem;}
.page-model .list li .text{background:#f60; width:8rem; height:8rem; color:#fff; border-radius:100%; padding-top:35%; font-size:1.4rem; line-height:160%;}




/* --- 为什么选择我们 --- */
.page-why{overflow:hidden;  border-bottom:1rem solid #efefef; padding:1.5rem; padding-top:0; padding-bottom:0;}
.page-why li{border-bottom:1px solid #efefef; padding-bottom:1.5rem; margin-bottom:1.5rem;}
.page-why li  h3{font-size:1.6rem; color:#f60; margin-bottom:1rem;}
.page-why li .text{line-height:180%; color:#666; font-size:1.4rem;}
.page-why li:last-child{margin-bottom:0;}




/* --- 新闻分类 --- */
.news-type{border-bottom:1px solid #efefef; overflow:hidden;}
.news-type ul{overflow:hidden; border-bottom:1px solid #efefef; }
.news-type ul li{float:left; width:25%; text-align:center; height:3.5rem; line-height:3.5rem;}
.news-type ul li a{ display:block;}
.news-type ul li a.now{background:#f60; color:#fff;}
.news-type .path{color:#999; background:#f5f5f5; padding:1rem 1.5rem; font-size:1.0rem;}
.news-type .path a{margin-left:8px;}




/* --- 分页 --- */
.showpage{text-align:center; margin-bottom:2.5rem; margin-top:2.5rem;}
.showpage a{display:inline-block; padding:.2rem 1rem; border:1px solid #efefef; border-radius:5px; margin-right:.3rem; margin-left:.3rem; background:#f9f9f9; font-size:1.4rem; color:#666; margin-bottom:1rem;}
.showpage a.now{background:#f60; color:#fff; border:1px solid #f60; box-shadow:0px 5px 10px #ececec; }




/* --- 联系我们 --- */
.page-contact-box{overflow:hidden; padding:1.5rem;}

/* 方式 */
.page-contact-box .way{ }
.page-contact-box .way h3{font-size:2.4rem; font-weight:bold; margin-bottom:1rem;}
.page-contact-box .way h4{font-size:1.4rem; color:#666; margin-bottom:1rem;}
.page-contact-box .way h4 b{color:#f60;}
.page-contact-box .way ul li{line-height:200%; font-size:1.4rem; }

/* 联系地图 */
.page-contact-box .map{ margin-top:1.5rem;}




/* --- 在线留言 --- */
.page-message{overflow:hidden; padding:1.5rem;}
.page-message li{margin-bottom:1rem;}
.page-message li input{width:100%; height:4rem; line-height:4rem; border:1px solid #ddd; padding-left:1rem; transition:all .3s; font-size:1.4rem;}
.page-message li input:focus{border:1px solid #f60; background:#fff; box-shadow: 10px 10px 20px #ececec;}
.page-message li.ly04{width:100%; overflow:hidden;  }
.page-message li.ly04 textarea{width:100%; border:1px solid #ddd; padding:15px; height:20rem;  transition:all .3s;  font-size:1.4rem;} 
.page-message li.ly04 textarea:focus{border:1px solid #f60; background:#fff; box-shadow: 10px 10px 20px #ececec;}
.page-message li.ly05 button{width:100%; height:4rem; line-height:4rem; background:#333; border:none; color:#fff; font-size:16px; cursor:pointer;  transition:all .3s;}
.page-message li.ly05 button:hover{background:#f60;}





/* --- 肯定 --- */
.page-sure{background:url(../images/sure-back.png) #000000;}
.page-sure .column h2{color:#fff;}
.page-sure .column p{color:#FDD54A;}

/* 内容 */
.page-sure .list{padding:1.5rem; color:#fff;}
.page-sure .list li{margin-bottom:2.5rem; font-size:1.4rem; text-align:center;}
.page-sure .list li .title{margin-bottom:1rem; color:#FDD54A; font-size:1.6rem}
.page-sure .list li .text{line-height:150%;}





/* --- 知识与优化 --- */
.page-optimization {overflow:hidden; padding:0 1.5rem;}
.page-optimization ul{ border-bottom:1px solid #efefef; padding-bottom:1rem; margin-bottom:1rem;}
.page-optimization ul li p{font-weight:lighter; font-size:1.4rem; line-height:150%; color:#666; margin-top:.5rem;}
.page-optimization ul li{font-size:1.6rem; font-weight:bold; margin-bottom:.5rem; background:url(../images/page-optimization-dot.png) no-repeat 0 8px; padding-left:1.5rem;}





/* --- 提供的服务 --- */
.page-service{background:#0AADB6; overflow:hidden;}
.page-service .column h2{color:#fff;}
.page-service .content{padding:0 1.5rem;}
.page-service .content li{margin-bottom:1.5rem; border-bottom:1px solid #098F97; padding-bottom:1.5rem; margin-bottom:1.5rem;}
.page-service .content li h3{margin-bottom:1rem; font-size:1.8rem; color:#fff; font-weight:bold;}
.page-service .content li .text p{line-height:180%; color:#fff; font-size:1.4rem; position:relative; padding-left:1.2rem;}
.page-service .content li .text p:before{content:""; width:.4rem; height:.4rem; background:#fff; border-radius:100%; position:absolute; top:1.2rem; left:0;}



/* --- 创意展示 --- */
.page-creative{overflow:hidden; padding:0 .75rem; border-bottom:1rem solid #efefef; padding-bottom:1rem;}
.page-creative li{ float:left; width:50%; padding:.75rem; }
.page-creative li img{border:1px solid #ddd;}




/* --- 推广优势 --- */
.page-spread{overflow:hidden; }
.page-spread li{text-align:center; margin-bottom:1.5rem;} 
.page-spread li .pic{margin-bottom:1.5rem;}
.page-spread li .pic img{}
.page-spread li .text h3{font-size:1.8rem; margin-bottom:1rem;}
.page-spread li .text p{line-height:200%; color:#666; font-size:1.4rem;}




/* --- 关于我们 --- */
.page-about-box{}
.page-about-box .hd{text-align:center; margin-bottom:1.5rem; overflow:hidden;} 
.page-about-box .hd li{font-size:1.4rem; background:#f5f5f5; cursor:pointer; float:left; width:20%; height:3.5rem; line-height:3.5rem;}
.page-about-box .hd li.on{background:#FF6B11; color:#fff;}

.page-about-box .bd li{padding:0 1.5rem;}
.page-about-box .bd li p{margin-bottom:1rem; line-height:200%; font-size:1.4rem;}
.page-about-box .bd li .pic{margin-bottom:30px;}

/* 立即咨询 */
.about-consult{background:#FF6B11; color:#fff; padding:1.5rem;}
.about-consult .text{ text-align:center; margin-bottom:1.5rem; font-size:1.4rem; line-height:180%;}
.about-consult .btn{}
.about-consult .btn button{background:#fff; font-size:1.6rem; border:none; color:#FF6B11; width:100%; height:4rem; line-height:4rem;}





/* --- 新闻内容页 --- */
.article{ padding:1.5rem;}
.article h1{text-align:center; font-size:2.4rem; font-weight:bold; margin-bottom:1rem;}
.article .date{text-align:center; border-bottom:1px solid #efefef; padding-bottom:1.5rem; margin-bottom:1.5rem;}
.article .date em{margin-left:.5rem; margin-right:.5rem; color:#999;}
.article .content{border-bottom:1px solid #efefef; padding-bottom:1.5rem; margin-bottom:1.5rem;}
.article .content p{margin-bottom:1rem; line-height:200%; font-size:1.4rem;}
.article .other p{line-height:200%; color:#999; font-size:1.2rem;}




/* --- 右侧 --- */
.right-contact{ display:none;}

.digg4{ padding:3px; margin:3px; text-align:center; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 12px; }
.digg4 a,.digg4 span.miy{ margin:2px; text-decoration:none;}
.digg4 .disabledfy{ font-family: Tahoma, Verdana;}
.metpager_8 a,.metpager_8 span{ display:inline; background:#f9f9f9; color:#666;padding:3px 8px 3px 8px;border-radius: 3px;font-size:12px;}
.metpager_8 b{color:#666;}
.metpager_8 a,.metpager_8 span.miy{border:1px solid #efefef;color:#666;}
.metpager_8 a:hover { border:1px solid #efefef; }
.metpager_8 a:hover { border:1px solid #efefef; }
.metpager_8 span.current {border:1px solid #efefef; margin:2px; color:#FFF; background-color:#f60; text-decoration:none;}
.metpager_8 span.disabled { border:1px solid #f3f3f3; margin:2px; }


}

